div.yui-b p {

    margin: 0 0 .5em 0;
    color: #999;

}

div.yui-b p strong {

    font-weight: bold;
    color: #000;

}

div.yui-b p em {

    color: #000;

}            

body {
    background: url(../images/simple/background.gif);
    min-width: 980px;
}

#doc {

    background: white;
    width: 96%;
    min-width: 940px;
    border-left: solid 1px silver;
    border-right: solid 1px gray;

}

#hd {

    background: #5BC6FD url(../images/simple/header.gif) repeat-x scroll 0pt 0px;

}

#hd h1 {

    height: 30px;
    font-weight: bold;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 1.5em;
    color: #eeffff;
    margin: 0 0 0 0;
    padding: 1em;
    display: block;

}

#subheader {

    margin-left: 50px;
    margin-right: 50px;
    font-size: 10px;
    height: 15px;
    width: 300px;
    position: absolute;
    top: 70px;
    left: 550px;
    border: none 1px silver;
    padding: 5px;

}

#subheader-title {

    float: left;

}

#header-login {

    float: right;

}

#header-login li {

    list-style:none inside; float:left; padding:0 0 1em 1em; margin-top:0px; margin-left:0px

}

#header-login-user {

    color: gray;

}


#menu {

    margin-left: 0px;
    background: #ECEEEC url(../images/simple/top.gif);
    position: absolute;
    top: 60px;

}

#menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 1000;
}

#menu ul li{
    position: relative;
    display: inline;
    float: left;
    z-index: 1000;
}

#menu ul li a{
    display: block;
    background: white url(../js/jquery/jquerycssmenu/tintblue.gif) top center repeat-x;; /*background of tabs (default state)*/
    padding: 5px 7px 4px 7px;
    margin-right: 0px; /*spacing between tabs*/
    border: 1px solid #778;
    border-bottom-width: 0;
    color: #2d2b2b;
    text-decoration: none;
}

#menu ul li a:hover{
    background-image: url(../js/jquery/jquerycssmenu/tintbluedark.gif) /*tab link background during hover state*/
}

#menu ul li ul{
    position: absolute;
    left: 0;
    display: block;
    visibility: hidden;
    border-top: 1px solid black;
}

#menu ul li ul li{
    display: list-item;
    float: none;
    z-index: 1000;
}

#menu ul li ul li ul{
    top: 0;
    z-index: 1000;
}

#menu ul li ul li a{
    width: 160px; /*width of sub menus*/
    background: white;
    color: black;
    padding: 4px 5px;
    margin: 0;
    border-top-width: 0;
    border-bottom: 1px solid black;
}

#menu ul li ul li a:hover{ /*sub menus hover style*/
                           background: #eff9ff;
                           color: black;
}

#menu .downarrowclass{
    position: absolute;
    top: 7px;
    right: 5px;
    background: transparent url(../js/jquery/jquerycssmenu/arrow-down.gif) no-repeat;
    height: 16px;
    width: 12px;
    border-bottom: none;
    text-decoration: none;
}

#menu .rightarrowclass{
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent url(../js/jquery/jquerycssmenu/arrow-right.gif) no-repeat;
    height: 12px;
    width: 12px;
    border-bottom: none;
    text-decoration: none;
}


#main-body-path {
    margin-left: 0px;
    font-size: 10px;
}

#main-body-path ul li {

    list-style:circle inside; float:left; padding:0 0 1em 1em; margin-top:0px; margin-left:0px

}

#main-body-header {

    clear: both;

    padding: 10px 0px 5px 0px;
    background: url(../images/simple/top.gif);
    color:#00111A;
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size:28px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    height:30px;
    line-height:28px;
    width:600px;

}

#main-body-subheader {

    padding: 10px 10px 10px 4px;
    border-bottom: dotted 1px silver;
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size:12px;

}

#main-body-content-subheader {
    clear: both;
    padding: 10px 0px 5px 0px;
    background: url(../images/simple/top.gif);
    color:#00111A;
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size:22px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    height:30px;
    line-height:28px;
    width:600px;
}

#main-body-message {

    color: red;

}

#main-body-side {

    display: block;
    height: 100%;
    max-width: 300px;

}

#main-body-content {

    float: left;
    min-height: 200px;
    min-width: 300px;
    max-width: 100%;
    padding-top: 10px;
    width: 600px;
    position: absolute;
    left: 45px;

}

#main-body-content-filter {

}

#main-body-actions {

    display: table;
    margin-top: 2em;
    padding: 0.5em;
    border: none 1px silver;

}

#main-body-footer {

    display: none;
    clear: both;
    padding: 1em;
    border: none 1px silver;

}

#yui-main {
    margin: 20px 0px 0px 20px;
    border: none 1px silver;
    width: 700px;
}

#sidebar {
    min-height: 500px;
    border: dotted 1px silver;
    background: #F3F3F3 none repeat scroll 0%;
    border: 1px solid #DADADA;
    margin: 20px 20px 20px 20px;
    padding: 5px;
}

#sidebar h2 {

    background:#FFFFFF none repeat scroll 0%;
    border:1px solid #DADADA;
    color:#00111A;
    display:block;
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size:24px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    height:35px;
    line-height:34px;
    margin:6px 0px 16px 0px;
    padding:0pt 0pt 0pt 20px;
    width: 88%;

}            

.sidebarTree {
    border: none 1px silver;
    width: 180px;
    font-size: 10px;
    margin-bottom: 10px;
}

.sidebarTreeRefresh {
    font-size: 10px;
    color: blue;
}

#ft {

    margin-top: 30px;
    padding: 30px 10px 10px 10px;
    border: none 1px silver;
    clear: both;
    background: #FFFFFF url(../images/simple/footer.gif) repeat-x scroll 0pt;
    height: 50px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 13px;
    text-align: center;

}

#ft p {
    padding: 5px;
}

#ft .copyright {
    background:#F3F3F3 none repeat scroll 0%;
    color:#04496D;
    font-size:12px;
}

#ft .message {
    background:#F3F3F3 none repeat scroll 0%;
    color:#444444;
    display:block;
    font-size:10px;
}

.form {


}

.form-header {

    margin:0.5em 0 0 0;
    clear: both;
    padding: 1em;
    border: dotted 1px silver;
    font-weight: bold;

}

.form fieldset {

    margin:0.5em 0 0.5em 0;
    clear: both;
    padding: 0.5em;
    border: dotted 1px silver;
    background: #eeeeee;

}

.form-footer {

    margin:0.5em 0 0.5em 0;
    clear: both;
    padding: 1em;
    border: dotted 1px silver;

}

.form-errors {

}

.form-row {

    clear: both;
    display: table-row;

}

.form-row label {

    display: table-cell;
    padding: 0.25em;
    width: 40%;

}

.form-row .form-input {

    padding: 0.25em;
    display: table-cell;

}

.form-row .form-input-error {

}

.form-row .form-input-message {

}

.form-buttons {

    margin:0.5em 0 0.5em 0;
    clear: both;
    padding: 1em;
    border: dotted 1px silver;

}

.form-buttons .form-button {

}

dl {
    line-height: 2em;
    margin: 0em 0em;
    width: 100%;
}

dt {
    font-weight: bold;
    padding-left: 4px;
    vertical-align: top;
}

dd {
    margin-left: 10em;
    margin-top: -2em;
    vertical-align: top;
}

.yuimenuitemseparator{
    border-bottom: 1px solid #d5d5d5;
    margin-top: 3px;
    margin-bottom: 3px;
}

.main-body-row{
    clear:both;
    min-height: 40px;
    border-bottom: 1px solid #CCC
}

.row-content{
    float: left;
    text-align: left;
}

.row-button{
    float: right;
}
